/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 5px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastcontainer {
    position: fixed;
    top: 50px;
    bottom: 40px;
    left:0;
    right:0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  /* CSSs for box-skyway app */

  #profile-view {
    position:fixed;

    top:0px;
    right: 10px;
    width: 300px;
    height: 50px;
  }

  .alert {
    margin: 30px 25px;
    text-shadow: none;
  }

  /* archive-container */
  #archive-container {
    position:fixed;

    top: 60px;
    left: 10px;
    bottom: 50px;
    right: 310px;
  }
  #slideshare-view {
    position: fixed;

    top: 60px;
    left: 10px;
    bottom: 290px;
    right: 310px;
  }
  #folder-view{
    position: fixed;

    bottom:50px;
    height:230px;
    left: 10px;
    right: 626px;

    overflow: auto;
  }

  #folder-view div {
    color: #000;
  }

  #preview-view{
    position: fixed;

    bottom:50px;
    height:230px;
    width: 306px;
    right: 310px;
  }

  /* realtime-container */
  #realtime-container {
    position:fixed;

    top: 60px;
    width: 300px;
    bottom: 50px;
    right: 10px;
  }

  #upload-view {
    position:fixed;

    top: 65px;
    right: 10px;
    z-index: 100;
  }
  #message-view {
    position:fixed;

    top: 65px;
    right: 10px;
    width: 290px;
    bottom : 280px;
  }
  #message-view .message {
    text-align: left;
    margin-left: 45px;
  }
  #message-view .message .name {
    text-shadow: none;
    font-size: 0.8em;
    font-weight: normal;
    color: #666;
  }
  #message-view .message .message-body {
    text-shadow: none;
    color: #000;
  }

  #text-input-view {
    position:fixed;

    height: 50px;
    right: 10px;
    width: 290px;
    bottom: 220px;
  }

  #text-input-view form {
  }
  #media-view {
    position:fixed;

    height: 160px;
    right: 10px;
    width: 290px;
    bottom: 50px;
    overflow: hidden;
  }

  #media-view .videos {
    height:100%;
    overflow: hidden;
  }
  #media-view .video {
    height:100%;
    overflow: hidden;
  }
  #media-view video {
    height:100%;
  }

}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

.login,.mastcontainer {
  display:none;
}


.wf {
  border: 1px dashed gray;
}


